*{
	
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
h2{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.text{
	display:flex;
	font-family:Arial, Helvetica, sans-serif;
	align-items: center;
	justify-content:left;
	margin: 30px 30px;
	max-width: auto;
	padding:16px 16px;
	flex-direction: column;

}
nav{
	display:flex;/* create a flexible layout */
	justify-content:space-around;
	align-items: center;
	min-height: 10vh;
	background-color: darkcyan;
  width:100%;
  height:100%;
  overflow:hidden;
  text-transform: uppercase;

}
.nav-bar-links{
	display:flex;
	justify-content:space-around;
	width:30%;
	font-family:Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height : 70vh;
}

      

  .container img{
    width: 600px;
    height:500px; 
    padding:20px;
    margin-top: 30px;
  }
.nav-bar-links li{
	list-style: none;
	

}
.topDiv{
	color: whitesmoke;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 16px;
}
.nav-bar-links a{
	text-decoration: none;
	font-weight: bold;
	font-size:14px;
	color:whitesmoke;
	letter-spacing: 2px;
	padding:12px 13px;

}
.nav-bar-links li a:hover:not(.active){
	background-color: darkcyan;
}
.nav-bar-links li a.active{
	background-color: lightseagreen;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; /* Adjust the gap between images */
  }
  .image-grid img {
    max-width: 100%; /* Ensure images don't exceed their container */
    height: auto; /* Maintain aspect ratio */
  }
  .menu-list {
   
    display: flex;
    flex-direction: column; /* Stack items vertically */
    list-style-type: none; /* Remove default list bullet */
    margin-left: 60px;
    font-family:Arial, Helvetica, sans-serif; /* Use a common font */
    padding-top: 1px;
  }
  .menu-item {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 20px; /* Add space between menu items */
  }
  .menu-item img {
    width: 500px; /* Set width of images */
    height: 500px; /* Set height of images */
    border-radius: 5px; /* Rounded corners for images */
    margin-right: 10px; /* Add space to the right of images */
  }
  .menu-item-details {
    flex: 1; /* Take remaining space */
  }
  .menu-item h2 {
    margin-top: 0; /* Remove default margin for heading */
    margin-bottom: 5px; /* Add space below heading */
    font-size: 18px; /* Customize heading font size */
    color: #333; /* Customize heading color */
  }
  .menu-item p {
    margin: 0; /* Remove default margin for paragraph */
    font-size: 14px; /* Customize paragraph font size */
    color: #666; /* Customize paragraph color */
  }
 